* {
  box-sizing: border-box;
}
body {
  letter-spacing: 1px;
}
h1 {
  padding-left: 1em;
  background-color: #FFDD00;
  border-bottom: 1px solid #333;
  font-size: 2em;
  padding-top: 15px;
  padding-bottom: 15px;
}
p {
  margin-bottom: 1em;
}
p:last-child {
  margin-bottom: 0;
}
ul {
  margin-left: 1em;
  margin-bottom: 1em;
}
ul li {
  list-style-type: circle;
}
textarea {
  color: green;
  border: 1px solid #333;
  width: 100%;
  height: 350px;
  padding: 1em;
  margin-bottom: 1em;
}
table {
  border-collapse: collapse;
}
table caption {
  padding: 1em;
  font-weight: bold;
}
table th {
  background-color: #FFDD00;
}
table td,
table th {
  padding: 0.4em;
  border: 1px solid #333;
}
.contents {
  padding: 2em;
}
.button,
.button:visited {
  background-color: #333;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 16px 0;
  color: #fff;
  text-decoration: none;
  position: relative;
  cursor: pointer
}
